[submodule "angular-shop"]
	path = angular-shop
	url = git@github.com:andersonHSM/angular-shop.git
[submodule "spring-shop-order-service"]
	path = spring-shop-order-service
	url = git@github.com:andersonHSM/spring-shop-order-service.git
